.home-container{
    width: 100%;
    height: 100vh;
    background: #fff;  
}
.hero-container{
    width: 100%;
    height: 150vh;
    padding:100px;
    background: url('./assets/images/bg.png');  

}
.hero-top-right-content{
    width: 40vw;
    position: relative;
}
.bg-tri{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1;
}
.hero-top-right-content .woman{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: 10;
}
.hero-top-content{
    display:flex;
}
.tri1{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
.tri2{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
